<!-- <section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->


  <mat-toolbar color="primary">
    <mat-toolbar-row>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
   
    <h1 class="mt-2" style="margin-right:10px">Trip.com</h1>
   <span class="menu-spacer "></span>
    <div>
    <a mat-button class="list active" >Hotels</a>
    <a mat-button >Flights</a>
    <a mat-button >Cars</a>
    <a mat-button>List Property</a>
  </div>
  <span class="example-spacer"></span>
 


  
    <!-- <span class="me-2"><mat-icon class="pt-1 me-1">cottage</mat-icon>Stays</span>
    <span class="me-2" ><mat-icon class="pt-1 me-1" >flight</mat-icon>Flights</span> -->
   
    <span class="example-spacer"></span>
    <div>
      <a mat-button>Register</a>
      <a mat-button>Sign In</a>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container " autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list role="list">
        <mat-list-item role="listitem"><mat-icon class="icon">person</mat-icon></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item   role="listitem" routerLinkActive="highlight">Dashboard</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  role="listitem" routerLinkActive="highlight" routerLink="/new-booking">New Booking</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  role="listitem" routerLinkActive="highlight">Item 3</mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>
      
    </mat-drawer>
    <router-outlet></router-outlet>
    <div class="example-sidenav-content">
     
    </div>
  
  </mat-drawer-container>
  
  

